@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Space Mono", monospace !important;
    background-color: hsl(185, 41%, 84%) !important;
    font-size: 24px !important;
    font-weight: 700 !important;
}

.m-container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0 3px 25px .1px hsl(184, 14%, 56%);
}

main {
    position: absolute;
    top: 80px;
}

.wrapper {
    width: 60vw !important;
}

/* LEFT */
header div {
    letter-spacing: 10px;
    font-weight: 700;
    color: hsl(186, 14%, 43%);
}

.heading {
    font-size: 18px;
    color:hsl(186, 14%, 43%);
}

.detail {
    background-color: hsl(189, 41%, 97%);
    border: 3px solid hsl(189, 41%, 97%) !important;
    border-radius: 8px !important; 
}

.detail  div:nth-child(2) {
    color: hsl(184, 14%, 56%);
}

.bill .detail:hover {
    border: 3px solid hsl(185, 60%, 73%) !important;
}

.bill .detail:focus {
    border: 3px solid hsl(185, 60%, 73%) !important;
}

.number-people .detail:hover {
    border: 3px solid hsl(185, 60%, 73%) !important;
}

.tip-detail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.tip {
    background-color: hsl(183, 100%, 15%);
    color:hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    border: 3px solid hsl(183, 100%, 15%);
    font-weight: 700;
}

.focused {
    background: hsl(185, 60%, 73%) !important;
    color: hsl(183, 100%, 15%);
    border-color: hsl(185, 60%, 73%);
}

.tip:nth-child(6) {
    background: hsl(189, 41%, 97%);
    color: hsl(186, 14%, 43%);
}

.tip:nth-child(6):focus {
    border: 3px solid hsl(185, 60%, 73%) !important;
    background: hsl(189, 41%, 97%) !important;
    color: hsl(183, 100%, 15%);
    font-weight: 700;
}

input[type="text"] {
    text-align: right;
}


input[type="text"]::placeholder {
    color: hsl(184, 14%, 56%) !important;
    font-weight: 700;
    text-align: right;
    background-color: hsl(189, 41%, 97%);
}

.tip-detail input[type="text"]::placeholder {
    text-align: center;
    background-color: none;
}

.number-people .heading p:nth-child(2) {
    color: #D0312D;
    display: none;
}

.number-people .heading p:nth-child(2).active {
    display: block;
}

.number-people div:nth-child(2) {
    border: none;
}

.number-people div:nth-child(2).active {
    border: 3px solid #D0312D !important;
    border-radius: 8px;
}

.dollar-detail {
    width: 100% !important;
}

/* RIGHT */
.right {
    background-color: hsl(183, 100%, 15%);
    border-radius: 18px;
}

.big-word {
    color: hsl(0, 0%, 100%);
}

.small-word {
    font-size: 15px;
    color: hsl(184, 14%, 56%);
}

.price {
    font-size: 55px;
    color: hsl(172, 67%, 45%);
}

.reset {
    width: 100%;
    background-color: hsla(172, 67%, 45%, 0.251) !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    color: hsl(183, 100%, 15%) !important;
}

.reset:active {
    background-color: hsl(185, 60%, 73%) !important;
}

.reset:hover {
    background-color: hsl(185, 60%, 73%) !important;
}

/* MEDIA QUERY */
@media (max-width: 520px) {
    .price {
        font-size: 40px !important;
    }

    .wrapper {
        width: 90vw !important;
    }
}